.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flip-box {
  background-color: transparent;
  width: 200px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back3, .flip-box-back4, .flip-box-back5 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
  width: 200px; 
  height: 200px;
}

/* Style the back side */
.flip-box-back3 {
  background-color: rgba(39, 155, 72, 0.99);
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
}
.flip-box-back4 {
  background-color: rgba(195, 31, 51, 0.99);
  color: white;
  transform: rotateY(180deg);
}
.flip-box-back5 {
  background-color: rgba(239, 64, 43, 0.99);
  color: white;
  transform: rotateY(180deg);
}
.card-item {
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 323px;
  list-style-type: none;
}

.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.card-title {
  color: #171f46;
  font: 'Roboto';
  font-size: 18px;
  font-weight: 500;
}

.card-description {
  color: #64748b;
  font: 'Roboto';
  font-size: 14px;
}

.img-container {
  display: flex;
  justify-content: center;
}

.card-img {
  height: 30%;
}
.card-img2 {
  width: 20%;
  height: 50%;
}
.paragraph-flip{
  text-align: center;
  font-family: 'Roboto', sans-serif;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
